packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/messages]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/messages"]]}`
      log_stream_name = {instance_id}
      file = /var/log/messages

      [/var/log/dmesg]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/dmesg"]]}`
      log_stream_name = {instance_id}
      file = /var/log/dmesg

  "/tmp/check-env-name.sh":
    mode: "000755"
    content : |
      #!/bin/bash

      prod_env_name="test-1"

      echo $prod_env_name
      echo $1

      if [ "$prod_env_name" != "$1" ]
      then
        rm -f /etc/awslogs/awscli.conf
        rm -f /etc/awslogs/awslogs.conf
        rm -f /etc/awslogs/config/logs.conf
      fi


commands:
  "01":
    command: /tmp/check-env-name.sh `{ "Ref":"AWSEBEnvironmentName" }`
  "02":
    command: chkconfig awslogs on
    ignoreErrors: true
  "03":
    command: service awslogs restart
    ignoreErrors: true
  "04":
    command: aws logs put-retention-policy --log-group-name `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/dmesg"]]}`  --retention-in-days 5 --region us-east-2
    ignoreErrors: true

